/* SECCION 1 */

/* SECCION 2 */

/* SECCION 3 - 4 - 5 */

/* SECCION 6 */

/* SECCION 7 */

/* SECCION 8 */

/* SECCION 9 */

/* PLANTILLA TUTORIAL */

/*MASONRY*/

.contenedor {
  background-color:#2a2726;
}

.centrar-grid {
  text-align:center;
  margin: 0 auto;
  width: 90%;
}

.cont-masonry {
  background-color:#2a2726; 
  display:inline-block; 
  text-align:center;
}

.item { 
  width: 200px;
  margin: 0 auto 10px;
  display: inline-block;
  text-align: center;
}

.tut, .tut-2, .tut-a, .tut-3, .tut-4, .tut-5, .tut-6, .tut-7, .tut-8, .tut-9 {
  background-color:#FC3B2A;
  border-radius: 3px;
  position: relative;
}

.tut {
  height: 313px;
}

.tut-2 {
  height: 176px;
}

.tut-a {
  height: 145px;
}

.tut-3 {
  height: 342px;
}

.tut-4 {
  height: 408px;
}

.tut-5 {
  height: 151px;
}

.tut-6 {
  height: 164px;
}

.tut-7 {
  height: 309px;
}

.tut-8 {
  height: 438px;
}

.tut-9 {
  height: 366px;
}

.info {
  margin-top: -4px;
  background-color:#fff; 
  height: auto;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px; 
}

.categoria {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 44px;
  color: #fff;
  position: relative;
  top: 40%;
}

.esp {
  top: 30%;
}

.info-logo {
  float: left;
  width: 28px;
  height: 47px;
  text-align: left;
  margin-left: 15px;
  margin-top: 10px;
}

.info-logo img {
  max-width: 100%;
}

.info-autor {
  text-align: left;
  padding-top: 10px;
  float: left;
  border-bottom: 2px solid;
  margin-left: 10px;
  width: 130px;
}

.autor {
  font-family: 'Open Sans', sans-serif;
  color: #4d4b4c;
  font-weight: bold;
}

.descripcion {
  text-align: justify;
  clear: both;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
}

.desc {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #b1afb0;
  font-weight: bold;
}

.foo {
  font-family: 'Open Sans', sans-serif;
  font-size: 45px;
  color: #FC3B2A;
  font-weight: bold;
  height: 286px;
}

.foo-contenido {
  position: relative;
  top: 40%;
}

.foo-img {
  display: inline;
}

/*--- MEDIA QUERIES ---*/

@media (min-width: 1405px) { 
  .centrar-grid {
    width: 76%;
  }
}

@media (min-width: 1645px) { 
  .centrar-grid {
    width: 64%;
  }
}